<div style="display: flex; flex-direction:column;align-items:center;">
    <h1>
        ciao <span style="color: green;"><%= name  %></span>!
    </h1>
    <p>
        La tua password è stata reimpostata con successo.
    </p>
</div>