<div style="display: flex; flex-direction:column;align-items:center;">
    <h1>
        ciao <span style="color: green;"><%= name  %></span>! <br>
    </h1>
    <p>
        Hai dimenticato la password? <br>
        clicca il link sottostante per resettarla! <br>
        <a href="http://localHost:3000/reset/<%= token %> ">Imposta nuova password</a>
    </p>
</div>