<div style="display: flex; flex-direction:column;align-items:center;">
    <h1>
        Benvenuto <span style="color: green;"><%= name  %></span>!
    </h1>
    <p>
        Ora che sei registrato puoi utilizzare la zona admin e aggiungere/modificare/eliminare prodotti! <br>
        Inoltre avrai a tua disposizione un carrello personale e uno storico ordini.
    </p>
</div>